// @import 'utilities/variables';
// @import 'utilities/functions';
// @import 'utilities/mixins';

// @import 'utilities/bootstrap';
// @import 'vendors/jquery-ui';

// @import 'base/reset';
// @import 'base/typo';

// @import 'layout/navigation';
// @import 'layout/grid';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'layout/forms';

// @import 'components/buttons';
// @import 'components/jumbo';

// @import 'pages/home';
// @import 'pages/contact';

// @import 'themes/theme';
// @import 'themes/admin';

:root {
    /** Fuentes **/
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Oswald', sans-serif;
    --fuenteTexto : 'Open Sans', sans-serif;

    /** Colores **/
    --colorPrimario : #FE4918;
    --grisOscuro : #2F2E2E;
    --grisClaro : #EBEBEB;
    --blanco : #FFFFFF;
    --negro : #000000;

    /* Carousel Hover */
    --carouselHeight : 200px;
    --padding        : 8px;
    --indicatorColor : #D82B6A;
    --bodyBG         : #EEE;
    --bgColor        : lighten(#EEE, 16);
}

html {
    /* evita que los elementos crezcan de tamaño al agregarle margin o padding */
    box-sizing: border-box;
    font-size: 62.5%; /* reset para usar REMs donde 1rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    background-color: var(--grisClaro);
}

/** Headings **/
h1, h2, h3 {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    line-height: 1.2;
}
h1 {
    font-size: 8rem;
}
h2 {
    color: var(--colorPrimario);
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}
h3 {
    font-size: 2rem;
}

/** Globales **/
/* Loader */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
    transition: 1s all;
    opacity: 0;
    background-color: var(--grisOscuro);
}
.loading.show {
    opacity: 1;
}
.loading .spin {
    border: 3px solid hsla(185, 100%, 62%, 0.2);
    border-top-color: #3cefff;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 1s linear infinite;
}
.loading p{
    margin-top: 2rem;
    color: var(--blanco);
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/* fin loader */

a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img,
video {
    max-width: 100%;
}
.seccion{
    padding: 1rem 0;
}
.encabezado{
    margin: 2rem 0 4rem 0;
}
.contenedor{
    max-width: 80rem;
    width: 95%;
    margin: 0 auto;   
}
.subtitulo{
    text-align: center;
    font-size: 1.8rem;
}
.linea {
    border-bottom: 1px solid var(--colorPrimario);
    height: 2px;
    max-width: 200px;
    padding: 0;
}

/** HEADER **/
/* Navegacion Principal */
.navegacionPrincipal{
	display: none;
    width: 100%;
    flex: 0 0 100%;
    margin: 0 auto;
}
@media (min-width: 768px) {
	.navegacionPrincipal{
		display: block;
		width: 67%;
		float: right;
        text-align: right;
        padding-right: 2rem;
    }
}
.navegacionPrincipal a{
    display: block;
    max-width: 100%;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    color: var(--blanco);
    text-align: center;
    text-transform: uppercase;
    transition: all .5s ease-in-out;
    text-decoration: none;
}
@media (min-width: 768px) {
    .navegacionPrincipal a{
        padding: 1rem 1rem;
        display: inline-block;
        width: auto;
        text-align: center;
        margin: .5rem 2rem 0 0;
    }
}
@media (min-width: 992px) {
    .navegacionPrincipal a{
        font-size: 1.6rem;
        width: 13rem;
    }    
}


/* Menu Movil */
.menuMovil{
	display: block;
	width: 6rem;
	float: right;
	text-align: right;
	margin: 1rem 2rem;
}
@media (min-width: 768px) {
	.menuMovil{
		display: none;
	}
}
.menuMovil:hover{
	cursor: pointer;
}
.menuMovil span{
    background-color: var(--negro);
    margin-top: .4rem;
    width: 5rem;
    height: .5rem;
    display: block;
}
@media (min-width: 768px) {
    .menuMovil span{
        background-color: var(--blanco);
        margin-top: .6rem;
        height: .8rem;
    }
}
.barra{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.barra a{
    flex: 0 0 50%;
}
@media (min-width: 768px) {
    .barra a {
        flex: 0 0 20%;
    }
    .navegacionPrincipal{
        flex: 0 0 80%;
    }
}
.barra div{
    flex: 0 0 15%;
}
.siteHeader h1{
    font-size: 4rem;
}
@media (min-width: 992px) {
    .siteHeader h1{
        font-size: 8rem;
    }
}
.siteHeader p{
    font-size: 2rem;
    max-width: 33rem;
    text-align: center;
    line-height: 2;
    margin-top: 7rem;
}
@media (min-width: 992px) {
    .siteHeader p{
        max-width: 43rem;
    }
}
.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2000000;
    background-color: var(--blanco);
    transition: all .7s ease-in-out;
}
.fixed nav a{
    color: var(--negro);
    width: 15rem;
    padding: .4rem;
}

@media (min-width: 768px) {
    .fixed nav a{
        width: 8rem;
        padding: 1rem 0;
        margin-right: 1rem;
    }    
}
@media (min-width: 992px) {
    .fixed nav a{
        width: 12rem;
    }    
}
.barra img{
    width: 8rem;
    margin: 1rem 3rem;
    flex: 0 0 50%;
}
@media (min-width: 768px) {
    .barra img{
        width: 12rem;
    }
}
.contenidoHeader{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
}
.contenidoHeader h1{
    text-align: center;
} 
.contenidoHeader p{
    margin: 0 auto;
}

/* Slider */
#slider1{
    background-image: url(../img/slider1.jpg);
}
#slider2{
    background-image: url(../img/slider2.jpg);
}
#slider3{
    background-image: url(../img/slider3.jpg);
}
#slider4{
    background-image: url(../img/slider4.jpg);
}
.mySlides{
    display:none;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
    max-height: 100vh;
}
.text{
    color:#f2f2f2;
    font-size:15px;
    padding:8px 12px;
    position:absolute;
    bottom:8px;
    width:100%;
    text-align:center;
}
.fade{
    animation-name:fade;
    animation-duration:1.5s;
}
@keyframes fade{
    from{opacity:.4}
    to{opacity:1}
}

/* Seccion Bienvenida */
.bienvenida{
    padding-top: 2rem;
}
.bienvenida h2{
    margin-top: 0;
    font-size: 2rem;
}
.bienvenida p{
    margin-top: 2rem;
    font-size: 1.4rem;
    text-align: center;
}
@media (min-width: 480px) {
    .bienvenida{
        padding-top: 3.5rem;
    }
    .bienvenida p{
        margin-top: 3rem;
        font-size: 1.8rem;
    }
    .bienvenida h2{
        font-size: 3rem;
    }
}

/* Seccion Áreas */
.areas ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.areas__contenedor{
    display: flex;
    flex-wrap: wrap;
}
.areas__area{
    flex: 0 0 100%;
    position: relative;
}
@media (min-width: 768px) {
    .areas__area{
        flex: 0 0 50%;
    }    
}
@media (min-width: 992px) {
    .areas__area{
        flex: 0 0 25%;
    }    
}
.areas__area::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}
.areas__area p{
    position: absolute;
    color: var(--blanco);
    font-size: 2rem;
    font-weight: 900;
    top: 50%;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
.areas__area:hover p{
    opacity: 1;
}
.areas__area img{
    filter: grayscale(1);
    transition: all .5s ease-in-out;
}
.areas__area:hover img{
    filter: grayscale(0);
}

/* Seccion Clases */
.clases .encabezado h2{
    margin-top: 0;
    font-size: 2rem;
}
.clases .encabezado p{
    font-size: 1.4rem;
}
@media (min-width: 768px) {
    .clases .encabezado h2{
        font-size: 3rem;
    }
    .clases .encabezado p{
        font-size: 1.8rem;
    }    
}
.carousel-caption{
    padding-bottom: 0;
}
.carousel-inner {
    height: 25rem;
}
@media (min-width: 768px) {
    .carousel-inner{
        height: 48rem;
    }
}
@media (min-width: 992px) {
    .carousel-inner{
        height: 54rem;
    }
}
.carousel-inner h5{
    background-color: var(--negro);
    padding: .5rem;
    opacity: .8;
    text-transform: uppercase;
}
.clases .button a{
    margin: 2rem 0 4rem 0;
}
@media (min-width: 768px) {
    .clases .button a{
        padding: 1rem 2rem;
    }
    .carousel-inner h5{
        font-size: 2rem;
    }
    .carousel-inner p{
        background-color: var(--negro);
        opacity: .8;
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
}

/* Seccion info resumen del gym */
.resumen{
    height: 40rem;
    background-image: url(../img/gym-parallax.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media (min-width: 768px) {
    .no-touch.resumen{
        background-attachment:fixed;
    }    
}
.resumenInfo{
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 40rem;
    align-items: center;
}
.resumenInfo li{
    list-style: none;
	font-size: 1.8rem;
	text-align: center;
	text-transform: uppercase;
    flex: 0 0 50%;
    font-weight: bold;
    color: var(--blanco);
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .resumenInfo li{
        flex: 0 0 25%;
    }
}
.resumenBoton{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    height: 40rem;
    padding-bottom: 5rem;    
}
#resumenClick{
    display: block;
    color: var(--blanco);
    background-color: var(--colorPrimario);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: 1px solid var(--negor);
    border-radius: 1rem;
    transition: backgroundcolor .5s ease-in-out;
}
@media (min-width: 768px) {
    #resumenClick{
        font-size: 2rem;
        padding: 2rem 4rem;
    }    
}
#resumenClick:hover{
    cursor: pointer;
    background-color: #E33000;
}

/* Seccion Instructores */
.instructores .encabezado h2{
    font-size: 2rem;
}
.instructores .encabezado p{
    font-size: 1.4rem;
}
@media (min-width: 768px) {
    .instructores .encabezado h2{
        font-size: 3rem;
    }
    .instructores .encabezado p{
        font-size: 1.8rem;
    }    
}
.instructor{
    position: relative;
    margin-bottom: 2rem;
    overflow: hidden;
}
.instructor img{
    min-height: 100%;
    filter: grayscale(.8);
}
.instructor:hover img{
    filter: grayscale(0);
    animation: pulse; 
    animation-duration: 1s;
}
.instructor h3{
    position: absolute;
    left: 3rem;
    bottom: 1rem;
    color: var(--blanco);
    font-size: 2rem;
    background-color: var(--negro);
    padding: .5rem;
}

/* Seccion Mapa */
.mapa{
    height: 30rem;
    position: relative;
}
@media (min-width: 768px) {
    .mapa{
        height: 40rem;
    }
}
.mapa p{
    background-color: var(--negro);
    color:var(--blanco);
    width: 100%;
    text-align: center;
    padding: 1rem;
    position: absolute;
    z-index: 100000;
    bottom: 0;
    left: 0;
    margin: 0;
    opacity: .8;
}

/* Seccion Instalaciones */
.caroussel {
    display: block;
    -webkit-transform: translateZ(0);
    height: 20rem;
    margin: 5rem 10rem;
    -webkit-overflow-scrolling: touch;
}
/* for tablets */
.touch .caroussel {
    overflow: auto;
}
.caroussel:before, 
.caroussel:after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 50px;
    font-size: 80px;
    line-height: 190px;
    font-family: arial;
    color: #555;
    font-weight: bold;
    pointer-events: none;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}
.caroussel:before {
    content: '\2039';
    left: 0;
    text-align: left;
    text-indent: -20px;
    box-shadow: 50px 0 20px -20px #EEE inset;
}
.caroussel:after {
    content: '\203A';
    right: 0;
    text-align: right;
    text-indent: 40px;
    box-shadow: -50px 0 20px -20px #EEE inset;
}
.caroussel.right:after, .caroussel.left:before {
    opacity: 1;
}
.caroussel.right:after {
    right: 0;
    text-indent: 60px;
}
.caroussel.left:before {
    left: 0;
    text-indent: -40px;
}
.caroussel > a {
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    color: #CCC;
    font-size: 1.5em;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.caroussel > a:hover {
    color: #FFF;
}
.caroussel > a.prev {
    left: -20px;
}
.caroussel > a.next {
    right: -20px;
}
.caroussel > .indicator {
    pointer-events: none;
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
    background: var(--colorPrimario);
    height: .4rem;
    border-radius: 1rem;
    opacity: 0;
    -webkit-transition: opacity 0.2s, bottom 0.2s;
    transition: opacity 0.2s, bottom 0.2s;
}
.caroussel:hover > .indicator {
    opacity: 1;
    bottom: -3rem;
}
.caroussel > .wrap {
    overflow: hidden;
    border-radius: 5px;
}
.caroussel > .wrap > ul {
    list-style: none;
    white-space: nowrap;
    height: 200px;
}
.caroussel > .wrap > ul > li {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin: 0 0 0 5px;
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
}
.caroussel > .wrap > ul > li:first-child {
    margin: 0;
}
.caroussel > .wrap > ul > li > img {
    display: block;
    height: 100%;
    margin: auto;
    vertical-align: bottom;
    position: relative;
    z-index: 1;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}
  
/* Seccion Blog */
.blog .encabezado h2{
    font-size: 2rem;
}
.blog .encabezado p{
    font-size: 1.4rem;
}
@media (min-width: 768px) {
    .blog .encabezado h2{
        font-size: 3.4rem;
    }
    .blog .encabezado p{
        font-size: 1.8rem;
    }    
}
.post{
    position: relative;
    margin-bottom: 2rem;
    overflow: hidden; 
}
.post img{
    transition: all .4s ease;
    width:100%;
    height: 100%;
}
.post img:hover{
    transform:scale(1.5) rotate(20deg); 
    opacity:0.6;
}
.button a{
    display: block;
    color: var(--blanco);
    background-color: var(--colorPrimario);
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: .5rem 2rem;
    border: 1px solid var(--negor);
    border-radius: 1rem;
    transition: backgroundcolor .5s ease-in-out;
}
@media (min-width: 768px) {
    .button{
        display: flex;
        justify-content: flex-end;
    }
}
.button a:hover,
.blog .button a:hover{
    background-color: #e33000;
    cursor: pointer;
    text-decoration: none;
}
.post h3{
    position: absolute;
    left: 3rem;
    bottom: 3.6rem;
    color: var(--blanco);
    font-size: 1.4rem;
    background-color: var(--negro);
    padding: .5rem;
    margin: 0;
}
.post p{
    position: absolute;
    left: 3rem;
    bottom: .5rem;
    color: var(--blanco);
    font-size: 1.4rem;
    margin: 0;
    background-color: var(--negro);
    padding: .5rem;
}

/* Seccion Entrenamiento */
.entrenamiento .encabezado h2{
    font-size: 2rem;
}
.entrenamiento .encabezado p{
    font-size: 1.4rem;
}
@media (min-width: 768px) {
    .entrenamiento .encabezado h2{
        font-size: 3.4rem;
    }
    .entrenamiento .encabezado p{
        font-size: 1.8rem;
    }    
}
.contenidoEntrenamiento{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contenidoEntrenamiento p,
.contenidoEntrenamiento video{
    flex: 0 0 100%;
}
.contenidoEntrenamiento p{
    font-size: 1.6rem;
    line-height: 2;
    padding: 0 2rem 2rem 2rem;
    text-align: center;
    margin-top: 0;
}
@media (min-width: 992px) {
    .contenidoEntrenamiento p,
    .contenidoEntrenamiento video{
        flex: 0 0 calc(50% - 5rem);
    }
    .contenidoEntrenamiento p{
        padding: 2rem;
        font-size: 1.8rem;
    }
    .contenidoEntrenamiento video{
        max-width: 40rem;
        margin-left: 5rem;
    } 
}

/* Seccion Galeria */
.galeria .encabezado h2{
    font-size: 2rem;
}
.galeria .encabezado p{
    font-size: 1.4rem;
}
@media (min-width: 768px) {
    .galeria .encabezado h2{
        font-size: 3.4rem;
    }
    .galeria .encabezado p{
        font-size: 1.8rem;
    }    
}
.galeria ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 12rem);
    grid-gap: 2rem;
}
.galeria ul img{
    display: block;
    max-height: -webkit-fill-available;
    min-height: -webkit-fill-available;
}
@media (min-width: 768px) {
    .galeria ul {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 20rem);
    }
}
@media (min-width: 992px) {
    .galeria ul {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 15rem);
    }
}
.galeria ul li:nth-child(2) {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}
@media (min-width: 768px) {
    .galeria ul li:nth-child(2) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }
}
@media (min-width: 992px) {
    .galeria ul li:nth-child(2) {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }
}
.galeria ul li:nth-child(6) {
    grid-row: 4 / 6;
}
@media (min-width: 768px) {
    .galeria ul li:nth-child(6) {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
    }
}
@media (min-width: 992px) {
    .galeria ul li:nth-child(6) {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }
} 

/* Imagenes Superpuestas */
.grid{
    display: grid;
    grid-template-columns: repeat(8, 4.5rem);
    grid-template-rows: repeat(6, 4.5rem);
    background-image: url(../img/fondo.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 5rem;
}
@media (min-width: 400px) {
    .grid{
        grid-template-columns: repeat(8, 5rem);
        grid-template-rows: repeat(6, 10rem);
    }    
}
@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(10, 7.29rem);
        grid-template-rows: repeat(6, 10rem);
    }    
}
@media (min-width: 992px) {
    .grid{
        grid-template-columns: repeat(8, 10rem);
        grid-template-rows: repeat(6, 10rem);
    }    
}
.grid li:nth-child(1) {
    grid-column: 5 / 9;
    grid-row: 1 / 7;
    z-index: 5;
    opacity: .5;
    transform: grayscale(.8);
    display: flex;
}
@media (min-width: 768px) {
    .grid li:nth-child(1) {
        grid-column: 6 / 11;
        grid-row: 1 / 7;
    }
}
@media (min-width: 992px) {
    .grid li:nth-child(1) {
        grid-column: 5 / 9;
        grid-row: 1 / 7;
    }
}
.grid li:nth-child(2) {
    grid-column: 1 / 5;
    grid-row: 4 / 7;
    z-index: 10;
    opacity: .5;
    display: flex;
}
@media (min-width: 768px) {
    .grid li:nth-child(2) {
        grid-column: 1 / 6;
        grid-row: 4 / 7;
    }
}
@media (min-width: 992px) {
    .grid li:nth-child(2) {
        grid-column: 1 / 5;
        grid-row: 4 / 7;
    }
} 
.grid li:nth-child(3) {
    grid-column: 1 / 5;
    grid-row: 1 / 4;
    z-index: 7;
    opacity: .4;
}
@media (min-width: 414px) {
    .grid li:nth-child(3) img{
        height: fill-available;
        height: -webkit-fill-available;
    }    
}
@media (min-width: 768px) {
    .grid li:nth-child(3) {
        grid-column: 1 / 6;
        grid-row: 1 / 4;
        height: auto;
    }
    .grid li:nth-child(3) img{
        height: auto;
    }
}
@media (min-width: 992px) {
    .grid li:nth-child(3) {
        grid-column: 1 / 5;
        grid-row: 1 / 4;
    }
}

/* Seccion Newsletter */
.newsletter{
    background-image: url(../img/newsletter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    background-color: var(--grisOscuro);
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;
}
.newsletter p{
    text-align: center;
}
@media (min-width: 992px) {
    .newsletter p{
        font-size: 2.4rem;
    }    
}
.newsletter h3{
    font-size: 3rem;
    margin-bottom: 5rem;
}
@media (min-width: 768px) {
    .newsletter h3{
        font-size: 5rem;
    }
}
.newsletter .button a{
    padding: 1rem;
    font-size: 1.4rem;
}
@media (min-width: 992px) {
    .newsletter .button a{
        font-size: 2.4rem;
    }
}

/* Seccion Sorteo */
.sorteo{
    background-color: var(--blanco);
}
.sorteo h2{
    color: var(--negro);
    margin-bottom: 4rem;
}
.contador{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contador li{
    flex: 0 0 calc(50% - 3rem);
    list-style: none;
	font-size: 1.8rem;
	text-align: center;
	text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 4rem;
}
@media (min-width: 768px) {
    .contador li{
        flex: 0 0 calc(25% - 2rem);
    }
}
.numero{
    color: var(--colorPrimario);
	font-size: 5rem;
    margin: 0;
	font-family: 'Oswald', sans-serif;
}
@media (min-width: 768px) {
    .numero{
        font-size: 10rem;
    }
}

/* Seccion Footer */
.footer{
    padding-top: 1.5rem;
    background-color: var(--grisOscuro);
}
.footer__menu{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-bottom: 2rem;
    border-top: .3rem solid var(--colorPrimario);
    border-bottom: .3rem solid var(--colorPrimario);
}
@media (min-width: 992px) {
    .footer__lg{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .footer__redes,
    .footer__menu{
        flex: 0 0 calc(50% - 2rem);
    }
    .footer__menu{
        border: none;
    }
    nav.footer__menu{
        align-items: center;
        margin: 0;
    }

}
.footer__menu a{
    flex: 0 0 calc(20% - 2rem);
    text-transform: uppercase;
    color: var(--blanco);
    font-weight: bold;
    transition: all .4s ease-in-out;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
}
.footer__menu a:hover{
    color: var(--colorPrimario);
}
@media (min-width: 768px) {
    .footer__menu a{
        font-size: 1.8rem;
    }
}
@media (min-width: 992px) {
    .footer__menu a{
        font-size: 1.5rem;
        margin: 0;
    }
}
.footer__redes{
    margin: 1rem;
    padding: 1rem 1rem 2rem 1rem;
}
@media (min-width: 992px) {
    .footer__redes{
        border: none;
        border-left: .3rem solid var(--colorPrimario);       
    }
}
.footer__redes nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.footer__redes nav a{
    flex: 0 0 calc(20% - 2rem);
}
.footer__redes h3{
    font-size: 2rem;
    margin-top: 0;
    color: var(--blanco);
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 1rem;
}
@media (min-width: 768px) {
    .footer__redes h3{
        font-size: 3rem;
    }
}
@media (min-width: 992px) {
    .footer__redes h3{
        font-size: 2.4rem;
    }
}
.footer__redes span{
    color: var(--colorPrimario);
}
.footer__redes i{
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--blanco);
}
@media (min-width: 768px) {
    .footer__redes i{
        font-size: 3rem;
    }
}
@media (min-width: 992px) {
    .footer__redes i{
        font-size: 2.4rem;
        margin-right: 4rem;
    }
}
.footer__redes i:hover{
    color: var(--colorPrimario);
    animation-name: bounce;
    animation-duration: 1s;
}
.footer__contacto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer__contacto a{
    flex: 0 0 30%;
    margin: 0 auto 0 1rem;
}
.footer__contacto p{
    flex: 0 0 65%;
    font-size: 1.4rem;
    color: var(--blanco);
}
@media (min-width: 768px) {
    .footer__contacto a{
        flex: 0 0 20%;
        margin: 0 auto 0 1rem;
    }
    .footer__contacto p{
        flex: 0 0 40%;
        font-size: 1.6rem;
        color: var(--blanco);
    }
}
@media (min-width: 992px) {
    .footer__contacto a{
        flex: 0 0 10%;
    }
    .footer__contacto p{
        flex: 0 0 45%;
    }
}
.footer__contacto p:last-child{
    justify-content: flex-start;
}
.footer__contacto p span{
    color: var(--colorPrimario);
}
.footer__logo{
    max-width: 12rem;
}
@media (min-width: 992px) {
    .footer__logo{
        max-width: 12rem;
    }
}
p.copyright{
    font-size: 1.2rem;
    color: var(--blanco);
	padding: 1rem 0;
	text-align: center;
	background-color: #2e2e2e;
}
@media (min-width: 768px) {
    p.copyright{
        margin-top: 2rem;
    }
}

/* Seccion de Cards con Precios */
/* Se utiliza el modelo BEM (Block Element Modify) */
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
.card {
    flex: 0 0 100%;
    height: 37rem;
    perspective: 150rem;
    position: relative;
    margin-bottom: 3rem;
    background-color: transparent;
    border: none;
}
@media (min-width: 768px) {
    .card{
        flex: 0 0 calc(33.3% - 2rem);
    }
}
.card__side {
    height: 37rem;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all .8s ease;
}
@media (min-width: 768px) {
    .card__side {
        height: 40rem;    
    }
}
.card__side--front {
    background-color: var(--blanco);
}
.card__side--back {
    transform: rotateY(180deg);
}
.card__side--back-1 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
    background-image: linear-gradient(to right bottom, #55c57a, #28b485);
}
.card__side--back-3 {
    background-image: linear-gradient(to right bottom, #3c6ef6, #0b49f3);
}
@media (min-width: 768px) {
    .card:hover .card__side--front {
        transform: rotateY(-180deg);
    }
    .card:hover .card__side--back {
        transform: rotateY(0);
    }
}
.card__picture {
    background-size: cover;
    height: 15rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture--1 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg");
} 
.card__picture--2 {
    background-image: linear-gradient(to right bottom, #55c57a, #28b485), url("../img/nat-6.jpg");
}  
.card__picture--3 {
    background-image: linear-gradient(to right bottom, #3c6ef6, #0b49f3), url("../img/nat-7.jpg");
}
.card__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: var(--blanco);
    position: absolute;
    top: 13rem;
    right: 2rem;
    width: 70%;
}
.card__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
}
.card__heading-span--1 {
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--2 {
    background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.85), rgba(40, 180, 133, 0.85));
}
.card__heading-span--3 {
    background-image: linear-gradient(to right bottom, #3c6ef6, #0b49f3);
}
.card__details {
    padding: 3rem;
}
.card__details ul {
    list-style: none;
    width: 100%;
    margin: 0 auto;
}
.card__details ul li {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
}
.card__details ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.card__call-to-action {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.card__price-box {
    text-align: center;
    color: var(--blanco);
    margin-bottom: 8rem;
}
.card__price-only {
    font-size: 1.8;
    text-transform: uppercase;
}
.card__price-value {
    font-size: 6rem;
    font-weight: 100;
}
.btn, .btn:link, .btn:visited {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    transition: all 0.2s;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
}
.btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn:active, .btn:focus {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}
.btn--rounded {
    border-radius: 10rem;
}
.btn--rounded::after {
    border-radius: 10rem;
}
.btn--white {
    background-color: var(--blanco);
    color: #777;
}
.btn--white::after {
    background-color: var(--blanco);
}
@media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
              box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    }
    .card__side {
      height: auto;
      position: relative;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    .card__side--back {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    }
    .card:hover .card__side--front {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    .card__call-to-action {
      position: relative;
      top: 0;
      left: 0;
      -webkit-transform: translate(0);
              transform: translate(0);
      width: 100%;
      padding: 4rem 3rem;
    }
    .card__price-box {
      margin-bottom: 2rem;
    }
    .card__price-only {
      font-size: 1.8;
      text-transform: uppercase;
    }
    .card__price-value {
      font-size: 5rem;
      font-weight: 100;
    }
  }

/** PAGINAS INTERNAS **/

.header{
    background-color: var(--grisOscuro);
}

/* Blog */
.header__blog{
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 30rem;
}

/* Clases */
.header__clases{
    background-image: url(../img/header2.jpg);
    background-position: center center;
    background-size: cover;
    height: 30rem;
}
.page-item a{
    background-color: var(--grisClaro);
}
.pagination .pagina--activa{
    color: var(--colorPrimario);
}
.clase{
    flex: 0 0 100%;
    position: relative;
    margin-bottom: 2rem;
    overflow: hidden;
}
.clase:hover img{
    transition: all .5s ease-in-out;
    transform: scale(1.5);
}
@media (min-width: 768px) {
    .clase{
        flex: 0 0 calc(50% - 2rem);
    }    
}
@media (min-width: 992px) {
    .clase img{
        height: 24.5rem;
    }
}
.clase h3{
    position: absolute;
    left: 3rem;
    bottom: 4rem;
    color: var(--blanco);
    font-size: 2rem;
    text-transform: uppercase;
    background-color: var(--negro);
    padding: .5rem;
    opacity: .8;
}
@media (min-width: 992px) {
    .clase h3{
        font-size: 1.8rem;
    }
}
.clase p{
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    color: var(--blanco);
    font-size: 1.6rem;
    background-color: var(--negro);
    padding: .5rem;
    opacity: .8;
}
@media (min-width: 992px) {
    .clase p{
        font-size: 1.6rem;
    }
}
.verClases{
    display: flex;
    justify-content: end;
}
.clases a{
    padding-top: 2rem;
    color: var(--negro);
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 2rem;
}
.clases .button a{
    font-size: 1.5rem;
    color: var(--blanco);
    padding: .5rem;
}
.clases .button a:hover{
    text-decoration: none;
    background-color: #e33000;
    cursor: pointer;
}
@media (min-width: 768px) {
    .clases .button a{
        padding: 1rem 2rem;
    }
}

/* Sobre Nosotros */
.header__nosotros{
    background-image: url(../img/header5.jpg);
    background-position: center center;
    background-size: cover;
    height: 30rem;
}
.nosotros{
    margin: 2rem 0 4rem 0;
}

/* Contacto */
.header__contacto{
    background-color: var(--grisOscuro);
    height: 10rem;
}
.contacto{
    background-image: url(../img/contacto.jpg);
    background-position: center center;
    background-size: cover;
    height: 70rem;
}
.contacto h2,
.contacto p{
    color: var(--blanco);
}
.formulario__contacto{
    margin: 4rem 0;
}
.input-group {
    margin-bottom: 3rem;
}
.input-group span,
.input-group input{
    font-size: 1.6rem;
    background-color: transparent;
    color: var(--blanco);
}
.input-group textarea{
    background-color: transparent;
    height: 20rem;
}
.input-group input::placeholder{
    color: var(--blanco);
}
.formulario__contacto .button{
    color: var(--blanco);
    background-color: transparent;
    padding: 1rem 2rem;
    border: 1px solid var(--blanco);
    float: right;
    margin-right: 1.5rem;
    border-radius: .5rem;
    text-transform: uppercase;
    font-weight: 700;
}
.formulario__contacto .button:hover{
    background-color: #E33000;
    cursor: pointer;
}
.formulario__newsletter{
    padding-left: 1.5rem;
    color: var(--blanco);
}
.input-group input:focus{
    background-color: transparent;
    font-size: 1.8rem;
    color: var(--blanco);
}
.input-group textarea:focus{
    background-color: transparent;
    font-size: 1.8rem;
    color: var(--blanco);
}

/* Icono whatsapp */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:10000000;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
    background-color:#fff;
}

.my-float{
	margin-top:16px;
}
