.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1200;
    transition: 1s all;
    opacity: 0;
    background-color: var(--grisOscuro);
    p{
        margin-top: 2rem;
        color: var(--blanco);
    }
    &.show{
    	opacity: 1;
	}
	& .spin {
		border: 3px solid hsla(185, 100%, 62%, 0.2);
		border-top-color: #3cefff;
		border-radius: 50%;
		width: 3em;
		height: 3em;
		animation: spin 1s linear infinite;
	}
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}