:root {
    /** Fuentes **/
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Oswald', sans-serif;
    --fuenteTexto : 'Open Sans', sans-serif;

    /** Colores **/
    --colorPrimario : #FE4918;
    --grisOscuro : #2F2E2E;
    --grisClaro : #EBEBEB;
    --blanco : #ffffff;
    --negro : #000000;
}

html {
    /* evita que los elementos crezcan de tamaño al agregarle margin o padding */
    box-sizing: border-box;
    font-size: 62.5%; /* reset para usar REMs donde 1rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    background-color: var(--grisClaro);
}

/** Headings **/
h1, h2, h3 {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    line-height: 1.2;
}
h1 {
    font-size: 8rem;
}
h2 {
    color: var(--colorPrimario);
    font-size: 3.4rem;
    text-align: center;
    text-transform: uppercase;
}
h3 {
    font-size: 3rem;
}

/** Globales **/
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img,
video {
    max-width: 100%;
}
.seccion{
    padding: 2.5rem 0;
}
.encabezado{
    margin: 2rem 0 4rem 0;
}
.contenedor{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;   
}
.subtitulo{
    text-align: center;
    font-size: 1.8rem;
}
nav {
    word-spacing: 2rem;
}

/** Header **/
.siteHeader{
    background-image: url(../img/gym-hero.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}
.siteHeader nav a{
    text-transform: uppercase;
    color: var(--colorPrimario);
    font-weight: bold;
    font-size: 1.8rem;
    margin-right: 3rem;
    transition: all .4s ease-in-out;
}
.siteHeader nav a:hover{
    border: 1px solid var(--colorPrimario);
    color: var(--blanco);
    font-size: 2rem;
    padding: 1rem .5rem;
    background-color: var(--colorPrimario);
    border-radius: .5rem;
}
.siteHeader p{
    font-size: 1.8rem;
}
.barra{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: .9;
    background-color: var(--grisOscuro);
}
.barra img{
    width: 15rem;
    margin: 1rem 3rem;
    flex: 0 0 50%;
}
.contenidoHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

/* Seccion Bienvenida */
.bienvenida{
    padding-top: 3.5rem;
}
.bienvenida p{
    margin-top: 3rem;
    font-size: 1.8rem;
}

/* Seccion Áreas */
.contenedorAreas{
    display: flex;
}
.area{
    flex: 0 0 25%;
    position: relative;
    display: inline-block;
}
.area p{
    position: absolute;
    left: 2rem;
    bottom: 0;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--blanco);
}

/* Seccion Clases */
.contenedorClases{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.clase{
    flex: 0 0 calc(50% - 5rem);
    position: relative;
    margin-bottom: 2rem;
}
.clase h3{
    position: absolute;
    left: 1rem;
    bottom: 4rem;
    color: var(--blanco);
}
.clase p{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: var(--blanco);
}
.verClases{
    display: flex;
    justify-content: end;
}
.clases a{
    padding-top: 2rem;
    color: var(--negro);
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 2rem;
}

/* Seccion info resumen del gym */
.resumen{
    height: 60rem;
    margin-top: 10rem;
    background-image: url(../img/gym-parallax.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: brightness(.6);
}
.resumenInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 17%
}
.resumenInfo li{
    list-style: none;
	font-size: 1.8rem;
	text-align: center;
	text-transform: uppercase;
    flex: 0 0 25%;
    font-weight: bold;
    color: var(--blanco);
;}

/* Seccion Instructores */
.contenedorInstructores{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.instructor{
    flex: 0 0 calc(50% - 5rem);
    position: relative;
    margin-bottom: 2rem;
}
.instructor h3{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    color: var(--blanco);
}

/* Seccion Mapa */
.mapa{
    height: 50rem;
}

/* Seccion Blog */
.contenedorBlog{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.post{
    flex: 0 0 calc(50% - 5rem);
    position: relative;
    margin-bottom: 2rem;
}
.post h3{
    position: absolute;
    left: 1rem;
    bottom: 3rem;
    color: var(--blanco);
}
.post p{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    color: var(--blanco);
}
.button a{
    background-color: var(--colorPrimario);
    padding: 2rem 4rem;
	text-align: center;
    color: var(--blanco);
    font-size: 2rem;
    text-transform: uppercase;
    float: right;
    border: 1px solid var(--negor);
    font-weight: bold;
    border-radius: 1rem;
    transition: backgroundcolor .5s ease-in-out;
}
.button a:hover{
    background-color: #e33000;
    cursor: pointer;
}
    
/* Seccion Sorteo */
.sorteo{
    background-color: var(--blanco);
}
.sorteo h2{
    color: var(--negro);
    margin-bottom: 4rem;
}
.cuentaRegresiva{
    display: flex;
    justify-content: space-between;
}
.cuentaRegresiva li{
    list-style: none;
	font-size: 1.8rem;
	text-align: center;
	text-transform: uppercase;
    flex: 0 0 25%;
    font-weight: bold;
}
.numero{
    color: var(--colorPrimario);
	font-size: 10rem;
	margin: 0 0 1rem 0;
	font-family: 'Oswald', sans-serif;
}

/* Seccion Entrenamiento */
.contenidoEntrenamiento{
    display: flex;
    flex-wrap: wrap;
}
.contenidoEntrenamiento p,
.contenidoEntrenamiento video{
    flex: 0 0 calc(50% - 5rem);
}
.contenidoEntrenamiento p{
    font-size: 2rem;
    line-height: 2;
    padding-right: 6rem;
    margin: auto;
}
.contenidoEntrenamiento video{
    max-width: 60rem;
    margin-left: 5rem;
}

/* Seccion Galeria */
.galeria ul li{
    display: inline-block;
    width: 24.5%;
}

/* Sección canvas */
.canvas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
canvas{
    display: block;
    margin: 2rem auto;
}

/* Seccion Newsletter */
.newsletter{
    background-image: url(../img/newsletter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    background-color: var(--grisOscuro);
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.newsletter h3{
    font-size: 5rem;
    margin-bottom: 5rem;
}

/* Seccion Footer */
.siteFooter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3rem;
    background-color: var(--grisOscuro);
}
.siteMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerMenu{
    flex-basis: calc(50% - 2rem);
    display: flex;
}
.footerMenu a{
    text-transform: uppercase;
    color: var(--blanco);
    font-weight: bold;
    font-size: 2rem;
    margin: auto 2rem;
    transition: all .4s ease-in-out;
}
.footerMenu a:hover{
    border: 1px solid var(--colorPrimario);
    color: var(--blanco);
    font-size: 2rem;
    padding: 1rem .5rem;
    background-color: var(--colorPrimario);
    border-radius: .5rem;
}
.redesSociales{
    flex-basis: calc(50% - 2rem);
    border: .3rem solid var(--colorPrimario);
    border-radius: 1rem;
    margin: 1rem;
}
.redesSociales h3{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 1rem;
}
.redesSociales span{
    color: var(--colorPrimario);
}
.redesSociales nav{
    text-align: center;
}
.redesSociales a{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--blanco);
    text-transform: uppercase;
    text-align: center;
}
p.copyright{
    color: var(--blanco);
	padding: 1rem 0;
	text-align: center;
	background-color: #2e2e2e;
}

/** PAGINAS INTERNAS **/

.header{
    background-color: var(--grisOscuro);
}