:root {
    /** Fuentes **/
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Oswald', sans-serif;
    --fuenteTexto : 'Open Sans', sans-serif;

    /** Colores **/
    --colorPrimario : #FE4918;
    --grisOscuro : #2F2E2E;
    --grisClaro : #EBEBEB;
    --blanco : #ffffff;
    --negro : #000000;
}

html {
    /* evita que los elementos crezcan de tamaño al agregarle margin o padding */
    box-sizing: border-box;
    font-size: 62.5%; /* reset para usar REMs donde 1rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    background-color: var(--grisClaro);
}

/** Headings **/
h1, h2, h3 {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    line-height: 1.2;
}
h1 {
    font-size: 8rem;
}
h2 {
    color: var(--colorPrimario);
    font-size: 3.4rem;
    text-align: center;
}
h3 {
    font-size: 3rem;
}

/** Globales **/
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img,
video {
    max-width: 50rem;
    height: auto;
}
.seccion{
    padding: 2.5rem 0;
}
.encabezado{
    margin: 2rem 0 4rem 0;
}
.contenedor{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;   
}
.subtitulo{
    text-align: center;
    font-size: 1.8rem;
}
nav {
    word-spacing: 2rem;
}

/** Header **/
.siteHeader{
    background-image: url(../img/gym-hero.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
    color: #ffffff;
}
.siteHeader nav{
    margin-top: 2rem;
}
.siteHeader nav a{
    text-transform: uppercase;
    color: var(--blanco);
    font-weight: bold;
    font-size: 1.8rem;
    margin-right: 2rem;
}
.siteHeader p{
    font-size: 1.8rem;
}
.barra{
    display: flex;
    justify-content: space-between;
}
.barra img{
    width: 20rem;
    height: auto;
    flex: 0 0 50%;
}
.contenidoHeader{
    position: absolute;
    top: 45%;
    left: 30%;
    text-align: center;
}

/* Seccion Bienvenida */
.bienvenida{
    padding-top: 3.5rem;
}
.bienvenida p{
    margin-top: 3rem;
    font-size: 1.8rem;
}

/* Seccion Áreas */
.areas li{
    display: inline-block;
    width: 24.5%;
}
.areas li img{
    max-width: 100%;
}


/* Seccion Clases */
.clases a{
    padding-top: 2rem;
    color: var(--negro);
    font-size: 2rem;
    text-transform: uppercase;
}
.clases ul li{
    display: inline-block;
    width: 49.5%;
}
.clases ul li img{
    max-width: 100%;
}

/* Seccion info resumen del gym */
.resumen{
    height: 60rem;
    background-image: url(../img/gym-parallax.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.resumenInfo{
    display: flex;
    justify-content: space-between;
}
.resumenInfo li{
    list-style: none;
	font-size: 1.8rem;
	text-align: center;
	text-transform: uppercase;
    flex: 0 0 25%;
    font-weight: bold;
    color: var(--blanco);
;}

/* Seccion Instructores */
.instructores ul li{
    display: inline-block;
    width: 49.5%;
}
.clases ul li img{
    max-width: 100%;
}

/* Seccion Mapa */
.mapa{
    height: 50rem;
}

/* Seccion Blog */
.blog a{
    padding-top: 2rem;
    color: var(--negro);
    font-size: 2rem;
    text-transform: uppercase;
}
.blog ul li{
    display: inline-block;
    width: 49.5%;
}
.blog ul li img{
    max-width: 100%;
}

/* Seccion Sorteo */
.sorteo{
    background-color: var(--blanco);
}
.sorteo h2{
    color: var(--negro);
    margin-bottom: 4rem;
}
.cuentaRegresiva{
    display: flex;
    justify-content: space-between;
}
.cuentaRegresiva li{
    list-style: none;
	font-size: 1.8rem;
	text-align: center;
	text-transform: uppercase;
    flex: 0 0 25%;
    font-weight: bold;
}
.numero{
    color: var(--colorPrimario);
	font-size: 10rem;
	margin: 0 0 1rem 0;
	font-family: 'Oswald', sans-serif;
}

/* Seccion Entrenamiento */
.contenidoEntrenamiento video,
.contenidoEntrenamiento p{
    display: inline-block;
    width: 49%;
}
.contenidoEntrenamiento p{
    font-size: 2rem;
    line-height: 2;
    position: relative;
    top: -6rem;
    padding-right: 6rem;
}

/* Seccion Galeria */
.galeria ul li{
    display: inline-block;
    width: 24.5%;
}

/* Seccion Newsletter */
.newsletter{
    background-image: url(../img/newsletter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    background-color: var(--grisOscuro);
    color: var(--blanco);
}
.newsletter a{
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 2rem;
    position: relative;
    left: 47%;
    top: 8rem;
}
.newsletter p{
    position: relative;
    left: 40%;
}
.newsletter h3{
    position: relative;
    left: 43%;
    font-size: 5rem;
    top: 4rem;
}

/* Seccion Footer */
.siteFooter{
    padding-top: 3rem;
    background-color: var(--grisOscuro);
}
.siteFooter p{
    color: var(--blanco);
    font-size: 2rem;
    position: relative;
    left: 70%;
    top: -4rem;
}
.siteFooter nav{
    position: relative;
    left: 5rem;
}
footer nav a{
    font-size: 2.2rem;
    color: var(--blanco);
    text-transform: uppercase;
}

/** PAGINAS INTERNAS **/

.header{
    background-color: var(--grisOscuro);
}